[user]
	name = Kahvi Patel
	email = kahvi.patel@shopify.com
[github]
	user = iamkahvi
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
	ui = auto
[pull]
	ff = only
[push]
	default = simple
# [include]
# 	path = /Users/kahvi/.config/dev/gitconfig
